.test-scss {
  color: blue;
  font-weight: bold;
}
.test-scss img {
  width: 48px;
  height: 48px;
}
.test-scss .my-sass {
  font-weight: bold;
  font-size: 20px;
}
.box-position {
  border: 1px solid red;
  padding: 10px;
}
